/* =================About Us================= */

.wrapper {
    margin: 150px 72px 50px 72px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    height: 100vh;
}

.cta {
    grid-column-end: span 6;
    position: relative;
}


.buttons {
    font-family: OpenSans, sans-serif;
    font-weight: normal;
}


.buttonC {
    width: 150px;
    height: 50px;
    margin-right: 10px;
    border-radius: 4px;
    border: solid 2px #80c7f2;
    font-size: 20px;
    line-height: 0.5;
    color: #80c7f2;
    background-color: white;
}

.buttonL {
    width: 150px;
    height: 50px;
    border-radius: 4px;
    border: solid 2px #6cd9ce;
    font-size: 20px;
    line-height: 0.5;
    color: #6cd9ce;
    background-color: white;
}


.image {
    grid-column-end: span 6;
    position: relative;
}

.image img {
    width: 100%;
}

/* =================Responsive About Us (mobile)================= */
@media only screen and (max-width: 768px) {
    .cta {
        grid-column-end: span 12;
        position: relative;
    }

    .buttons {
        font-family: OpenSans, sans-serif;
        font-weight: normal;
    }

    .buttonC {
        width: 125px;
        height: 50px;
        margin-bottom: 10px;
        border-radius: 4px;
        border: solid 2px #80c7f2;
        font-size: .9em;
        line-height: 0.5;
        color: #80c7f2;
        background-color: white;
    }

    .buttonL {
        width: 125px;
        height: 50px;
        border-radius: 4px;
        border: solid 2px #6cd9ce;
        font-size: .9em;
        line-height: 0.5;
        color: #6cd9ce;
        background-color: white;
    }

    .image {
        grid-column-end: span 12;
        position: relative;
    }

    .image img {
        width: 100%;
    }
}
