/* =================Nav Bar================= */
.nav {
    top: 0;
    text-align: right;
    height: 70px;
    line-height: 70px;
    background-color: white;
    position: fixed;
    width: 100vw;
    z-index: 100000;
    overflow: hidden;
}

.menu {
    margin: 0 72px 0 72px;
    z-index: 10000;
    background-color: white;
}

.menu a {
    clear: right;
    text-decoration: none;
    color: #000;
    margin: 0 10px;
    line-height: 70px;
    font-family: 'Open Sans', sans-serif;
}

.menu a:hover {
    color: #80c7f2;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}

.logo {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
}

/* =================Responsive Nav Bar================= */

@media only screen and (max-width: 768px) {
    label {
        display: block;
        cursor: pointer;
    }

    .nav {
        z-index: 500;
        display: block;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;

    }

    #toggle:checked + .menu {
        display: block;
    }

}